{% extends "layout.html" %}

{% block title %}Registrarse{% endblock %}


{% block content %}

<style>
    
    h1{
        padding-top: 20px;
        font-size: 20px !important;
        margin-bottom: 0 !important;
    }

    select{
        border-radius: 20px;
        background-color: hsl(221, 14%,calc(9% + 0%));
        width: 175px;
        height: 25px;
        text-align: center;
        color: hsl(221, 14%, 93%);
        font-family: Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
        margin-bottom: 15px;
        border-color: hsl(221, 14%,calc(24% + 0%));
        padding-inline-end: 2px;
    }
    
    .input, form{
        background-color: white;
    }
    
    .div-titulo {
        width: fit-content;
    }

    .linea-titulo{
        border: none;
        border: 2px solid var(--primary-color);
        margin-top: 0px;
        width: 100%;
    }

    form {
        display:block;
        width: 30%;
        margin: 60px auto;
        height: 80%;
        padding: 20px 40px;;
        border-radius: 10px;
    }
    
    hr{
        margin-top:-10px;
        border: 1x solid black;
    }

    input{
        margin-bottom: 10px;
        border: none;
        outline: none;
        width: 100%;
        height: 30px;
    }

    button{
        background-color: var(--primary-color);
        width: 300px;
        height: 30px;
        color: black;
        font-style: bold;
        font-weight: 600;
        display: block;
        margin: 20px auto;
    }
    
    .input, .input:focus{
        box-shadow: none;
        border: none;
        outline: none;
    }

    .input, .input::placeholder, .label, .button{
        color: black;
        font-weight: 600;
        font-style: bold;
    }
    
    i {
        color:black;
    }
</style>

<form class="from-registro" method="POST" action="{{ url_for('registry.registry_function') }}">
    
    {{ form.csrf_token }}
    <div class="div-titulo">
        <h1 class="label" >Registrar usuario</h1>
        <hr class="linea-titulo">
    </div>
    <label class="label">Correo Electronico</label>
    <div class="control has-icons-left ">
        <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
        </span>
        <input class="input" type="email" id="email" name="{{ form.email.name }}" placeholder="Ingrese su correo electronico" value="{{ form.email.value }}">
    </div>  
    <hr>
    <label class="label">Alias</label>
    <div class="control has-icons-left">
        <span class="icon is-small is-left">
            <i class="fa-solid fa-user"></i>
        </span>
        <input class="input" type="text" id="alias" name="{{ form.alias.name }}" placeholder="Ingrese su alias" value="{{ form.alias.value }}">
    </div>
    <hr>
    <label class="label">Contraseña</label>
    <div class="control has-icons-left">
        <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
        </span>
        <input class="input" type="password" id="password" name="{{ form.password.name}}" placeholder="Ingrese su contraseña" value="{{ form.password.value}}">
    </div> 
    <hr> 
    <label class="label">Repita la contraseña</label>
    <div class="control has-icons-left">
        <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
        </span>
        <input class="input" type="password" id="confirm_password" name="{{ form.confirm.name}}" placeholder="Ingrese la contraseña nuevamente" value="{{ form.confirm.value}}">
    </div>
    <hr>
    <label class="label">Rol</label>
    <div class="control">
        <select id="role" name="{{ form.role.name}}" value="{{ form.role.value }}">
          <option>Selecciona un rol</option>
          <option>Super Administrador</option>
          <option>Administración</option>
          <option>Ecuestre</option>
          <option>Técnica</option>
          <option>Sin Rol</option>
        </select>
    </div>
    <hr>
    <button type="submit" >Registrar usuario</button>
</form>
{% endblock %}