{% extends "layout.html" %}

{% block title %}Editar Jinete{% endblock %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/horsemen_and_amazons/forms.css') }}">
{% endblock %}

{% block content %}

<form method="POST" action="{{ url_for('horsemen_and_amazons.edit_horseman', user_id=user_id) }}">
    
    {{ form.csrf_token }}
    <div class="div-titulo">
        <h1 class="label">Editar Jinete</h1>
        <hr class="linea-titulo">
    </div>

    <label class="label">Nombre</label>
    <div class="control has-icons-left">
        <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
        </span>
        {{ form.name(class="input", placeholder="Ingrese el nombre del jinete", value=horseman.name, required=True) }}
    </div>
    <hr>

    <label class="label">Apellido</label>
    <div class="control has-icons-left">
        <span class="icon is-small is-left">
            <i class="fas fa-user-tag"></i>
        </span>
        {{ form.last_name(class="input", placeholder="Ingrese el apellido del jinete", value=horseman.last_name , required=True) }}
    </div>
    <hr>

    <label class="label">DNI</label>
    <div class="control has-icons-left">
        <span class="icon is-small is-left">
            <i class="fas fa-id-card"></i>
        </span>
        {{ form.DNI(class="input", placeholder="Ingrese el dni del jinete", value=horseman.DNI, required=True) }}
    </div>
    <hr>

    <label class="label">Edad</label>
    <div class="control has-icons-left">
        <span class="icon is-small is-left">
            <i class="fas fa-calendar"></i>
        </span>
        {{ form.age(class="input", placeholder="Ingrese la edad del jinete", value=horseman.age, required=True) }}
    </div>
    <hr>

    <label class="label">Número de teléfono</label>
    <div class="control has-icons-left">
        <span class="icon is-small is-left">
            <i class="fa-solid fa-phone"></i>
        </span>
        {{ form.phone_number(class="input", placeholder="Ingrese el teléfono del jinete", value=horseman.phone_number, required=True) }}
    </div>
    <hr>

    <label class="label">Ingrese la dirección del jinete</label>
    <div class="control">
        <select name="address">
            {% for value, label in form.address.choices %}
                <option value="{{ value }}" {% if horseman.address_id == value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
    </div>
    <hr>

    <label class="label">Fecha de nacimiento</label>
    <div class="control has-icons-left">
        {{ form.birthdate(class="input_fecha", value=horseman.birthdate, required=True) }}
    </div>
    <hr>

    <label class="label">Lugar de nacimiento</label>
    <div class="control has-icons-left">
        <span class="icon is-small is-left">
            <i class="fas fa-map-marker-alt"></i>
        </span>
        {{ form.birth_place(class="input", required=True, value=horseman.birth_place, placeholder="Ingrese el lugar de nacimiento del jinete") }}
    </div>
    <hr>

    <label class="label">Teléfono actual</label>
    <div class="control has-icons-left">
        <span class="icon is-small is-left">
            <i class="fa-solid fa-phone"></i>
        </span>
        {{ form.current_phone(class="input", required=True, value=horseman.current_phone, placeholder="Ingrese el teléfono actual del jinete") }}
    </div>
    <hr>

    <label class="label">Contacto de Emergencia</label>
    <div class="control">
        <select name="emergency_contact_id_jya">
            {% for value, label in form.emergency_contact_id_jya.choices %}
                <option value="{{ value }}" {% if horseman.emergency_contact_id_jya == value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
    </div>
    <hr>

    <div class="custom-checkbox">
        <input type="checkbox" id="checkbox-beca" name="is_scholarshipped" value="True" {% if horseman.is_scholarshipped %}checked{% endif %}>
        <label class="label" for="checkbox-beca">¿Está becado?</label>
    </div>
    <hr>

    <div id="contenedor-beca" class="hidden">
        <label class="label">Porcentaje de la beca</label>
        <div class="control has-icons-left">
            <span class="icon is-small is-left">
                <i class="fas fa-percent"></i>
            </span>
            {{ form.scholarship_percentage(class="input", value=horseman.scholarship_percentage if not None else "", placeholder="Ingrese el porcentaje de la beca") }}
        </div>
    </div>

    <label class="label">Profesionales que lo atienden</label>
    <div class="control has-icons-left">
        <span class="icon is-small is-left">
            <i class="fas fa-user-md"></i>
        </span>
        {{ form.attending_professionals(class="input", required=True, value=horseman.attending_professionals, placeholder="Ingreso los profesionales que lo atienden") }}
    </div>

    <label class="label">Obra Social</label>
    <select name="healthcare_plan_id_jya">
        {% for value, label in form.healthcare_plan_id_jya.choices %}
            <option value="{{ value }}" {% if horseman.healthcare_plan_id_jya == value %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
    </select>

    <div class="custom-checkbox">
        <input type="checkbox" id="checkbox-discapacidad" name="has_disability_certificate" value="True" {% if horseman.has_disability_certificate %}checked{% endif %}>
        <label class="label" for="checkbox-discapacidad">¿Posee certificado de discapacidad?</label>
    </div>
    <hr>
    
    <div id="contenedor-cerficado-discapacidad" class="hidden">
        <label class="label">¿Con qué diagnóstico?</label>
        <select name="diagnosis">
            {% for value, label in form.diagnosis.choices %}
                <option value="{{ value }}" {% if horseman.diagnosis == value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
        <hr>
        
        <label class="label">Si es otro, indicar cuál:</label>
        <div class="control has-icons-left">
            <span class="icon is-small is-left">
                <i class="fas fa-notes-medical"></i>
            </span>
            {{ form.other_diagnosis(class="input", value=horseman.other_diagnosis) }}
        </div>
        <hr>

        <label class="label">Tipo de discapacidad</label>
            <select name="type_of_disability">
                {% for value, label in form.type_of_disability.choices %}
                    <option value="{{ value }}" {% if horseman.type_of_disability == value %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
        <hr>
    </div>


    <div class="custom-checkbox">
        <input type="checkbox" id="checkbox-asignacion" name="receives_family_allowance" value="True" {% if horseman.receives_family_allowance %}checked{% endif %}>
        <label class="label" for="checkbox-asignacion">¿Percibe alguna Asignación Familiar?</label>
    </div>
    <hr>
    

    <div id="contenedor-asignacion" class="hidden">
        <label class="label">¿Cuál?</label>
        <select name="family_allowance">
            {% for value, label in form.family_allowance.choices %}
                <option value="{{ value }}" {% if horseman.family_allowance == value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
        <hr>
    </div>

    
    <div class="custom-checkbox">
        <input type="checkbox" id="checkbox-pension" name="is_beneficiary_of_pension" value="True" {% if horseman.is_beneficiary_of_pension %}checked{% endif %}>
        <label class="label" for="checkbox-pension">¿Es beneficiario de alguna pensión?</label>
    </div>
    <hr>
    

    <div id="contenedor-pension" class="hidden">
        <label class="label">Pensión</label>
        <select name="pension">
            {% for value, label in form.pension.choices %}
                <option value="{{ value }}" {% if horseman.pension == value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
        <hr>
    </div>

    <label class="label">Institución escolar a la que concurre actualmente</label>
        <select name="school">
            {% for value, label in form.school.choices %}
                <option value="{{ value }}" {% if horseman.school_id == value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
    <hr>

    <div class="buttons">
        <button type="submit">Editar Jinete</button>
        <a href="{{ url_for('horsemen_and_amazons.list_jya_users') }}"><button type="button" class="boton-cancelar">Cancelar</button></a>
    </div>

</form>


<script>
        document.addEventListener('DOMContentLoaded', () => {

            // Mapeo de IDs de checkboxes a los contenedores que mostrarán los campos adicionales
            const checkboxMap = {
                'checkbox-beca': 'contenedor-beca',
                'checkbox-discapacidad': 'contenedor-cerficado-discapacidad',
                'checkbox-asignacion': 'contenedor-asignacion',
                'checkbox-pension': 'contenedor-pension',
            };

            // Función para manejar el cambio en los checkboxes
            const handleCheckboxChange = (checkboxId, containerId) => {
                const checkbox = document.getElementById(checkboxId);
                const contenedor = document.getElementById(containerId);


                if (checkbox.checked) {
                contenedor.classList.remove('hidden');
                } else {
                    contenedor.classList.add('hidden');
                }

                checkbox.addEventListener('change', (e) => {
                    if (e.target.checked) {
                        contenedor.classList.remove('hidden');
                    } else {
                        contenedor.classList.add('hidden');
                    }
                });
            };

            // Recorremos el mapeo para agregar el listener a cada checkbox
            Object.keys(checkboxMap).forEach(checkboxId => {
                    handleCheckboxChange(checkboxId, checkboxMap[checkboxId]);
            });
    });
</script>
{% endblock %}