{% extends "layout.html" %}

{% block title %}Listado de jinetes y amazonas{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/horsemen_and_amazons/jya_list.css') }}"/>
{% endblock %}

{% block content %}

    <div class="encabezado">
        <h1>Listado de Jinetes y Amazonas</h1>
    </div>
    <hr class="separador">
    {% if users.items %}
        <form id="form-search" method="GET" action="{{url_for('horsemen_and_amazons.list_jya_users')}}">
            <div class="field is-grouped">
                <div class="field">
                    <label class="label">Nombre</label>
                    <div class="control has-icons-left">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <input class="input" type="text" name="name" placeholder="Nombre del jinete" value="{{ name }}" />
                    </div>
                </div>
                <div class="field">
                    <label class="label">Apellido</label>
                    <div class="control has-icons-left">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <input class="input" type="text" name="last_name" placeholder="Apellido del jinete" value="{{ last_name }}" />
                    </div>
                </div>
                <div class="field">
                    <label class="label">DNI</label>
                    <div class="control has-icons-left">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <input class="input" type="text" name="dni" placeholder="DNI del jinete" value="{{ dni }}" />
                    </div>
                </div>
                <div class="field">
                    <label class="label">Profesionales</label>
                    <div class="control has-icons-left">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <input class="input" type="text" name="professionals" placeholder="Profesionales" value="{{ professionals }}" />
                    </div>
                </div>
                <div class="field ">
                    <button class="boton boton-busqueda" type="submit">Buscar</button>
                </div>
            </div>
        </form>    
            
   
                <form method="GET" action="{{ url_for('horsemen_and_amazons.list_jya_users') }}">
                        <div class="control order_options">
                            <select id="order-option" name="order_option" onchange="this.form.submit()">
                                <option value="default">Selecciona un orden</option>
                                <option value="name_asc">Nombre: A-Z</option>
                                <option value="name_desc">Nombre: Z-A</option>
                                <option value="last_name_asc">Apellido: Menor-Mayor</option>
                                <option value="last_name_desc">Apellido: Mayor-Menor</option>
                            </select>
                        </div>
                </form>
            

                <div class="table-container">
                    <table class="table is-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>DNI</th>
                                <th>Edad</th>
                                <th>Operaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                        <tr onclick="window.location.href='{{ url_for('horsemen_and_amazons.list_info_by_jya', user_id=user.id) }}'">
                                            <td> {{user.name}} </td>
                                            <td> {{user.last_name}} </td>
                                            <td> {{user.DNI}} </td>
                                            <td> {{user.age}} </td>
                                            <div class="buttons">
                                                <td>
                                                    <a href="{{ url_for('horsemen_and_amazons.edit_horseman', user_id= user.id) }}" class="button is-small is-white"><i class="fas fa-edit" title="Editar"></i></a>
                                                    <a onclick="event.stopPropagation()" class="button is-small is-white delete-button" data-user-id="{{ user.id }}"><i class="fas fa-trash" title="Eliminar"></i></a>
                                                </td>
                                            </div>
                                        </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
                    <nav class="pagination" role="navigation" aria-label="pagination">
                        <a class="boton pagination-previous" {% if not users.has_prev %}disabled{% else %} href="{{ url_for('horsemen_and_amazons.list_jya_users', page=page-1,  order_option=order_by, name=name, last_name=last_name, dni=dni, professionals=professionals) }}"{% endif %}>Anterior</a>
                        <a class="boton pagination-next" {% if not users.has_next %}disabled{% else %} href="{{ url_for('horsemen_and_amazons.list_jya_users', page=page+1,  order_option=order_by, name=name, last_name=last_name, dni=dni, professionals=professionals) }}"{% endif %}>Siguiente</a>
                    </nav>
        {% else %}
            {% if is_filter_active %}
                <form id="form-search" method="GET" action="{{url_for('horsemen_and_amazons.list_jya_users')}}">
                    <div class="field is-grouped">
                        <div class="field">
                            <label class="label">Nombre</label>
                            <div class="control has-icons-left">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                                <input class="input" type="text" name="name" placeholder="Nombre del jinete" value="{{ name }}" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Apellido</label>
                            <div class="control has-icons-left">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                                <input class="input" type="text" name="last_name" placeholder="Apellido del jinete" value="{{ last_name }}" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">DNI</label>
                            <div class="control has-icons-left">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                                <input class="input" type="text" name="dni" placeholder="DNI del jinete" value="{{ dni }}" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Profesionales</label>
                            <div class="control has-icons-left">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                                <input class="input" type="text" name="professionals" placeholder="Profesionales" value="{{ professionals }}" />
                            </div>
                        </div>
                        <div class="field ">
                            <button class="boton boton-busqueda" type="submit">Buscar</button>
                        </div>
                    </div>
                </form>    
       
                <form method="GET" action="{{ url_for('horsemen_and_amazons.list_jya_users') }}">
                            <div class="control order_options" style="display: flex; align-items: center; justify-content: center;">
                                <select id="order-option" name="order_option" onchange="this.form.submit()">
                                    <option value="default">Selecciona un orden</option>
                                    <option value="name_asc">Nombre: A-Z</option>
                                    <option value="name_desc">Nombre: Z-A</option>
                                    <option value="last_name_asc">Apellido: Menor-Mayor</option>
                                    <option value="last_name_desc">Apellido: Mayor-Menor</option>
                                </select>
                            </div>
                </form>
    
                <p style="text-align: center;">No existen jinetes con los filtros aplicados.</p>
            {% else %}
                <p style="text-align: center;">No hay jinetes registrados en el sistema.</p>
            {% endif %}
        {% endif %}
        <div class="botones-listado">
            <a href="{{ url_for('horsemen_and_amazons.add_horseman') }}" ><button class="boton add-horseman">Registrar jinete</button></a>
            <a href="{{ url_for('home') }}"><button class="boton volver-inicio">Volver al Inicio</button></a>
        </div>
    

    <div id="deleteModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <p>¿Estás seguro que quieres eliminar este jinete?</p>
                <button id="confirmDelete" class="button is-danger">Eliminar</button>
                <button id="cancelDelete" class="button">Cancelar</button>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

<script>
        document.addEventListener('DOMContentLoaded', function () {
            const tabla = document.querySelector('.table');
            const options = document.querySelector('.order_options');
            const boton_next = document.querySelector('.pagination-next');
            const boton_previous = document.querySelector('.pagination-previous');

            const anchoTabla = tabla.offsetWidth;
            

            // Ocultar elementos inicialmente
            if (options) options.style.visibility = 'hidden';
            if (boton_next) boton_next.style.visibility = 'hidden';
            if (boton_previous) boton_previous.style.visibility = 'hidden';

            const ajustarPosicionOptions = () => {
                requestAnimationFrame(() => {
                    if (tabla && options && boton_next && boton_previous) {
                        const estilos = window.getComputedStyle(tabla);
                        const marginLeft = estilos.marginLeft;
                        const marginRight = estilos.marginRight;

                        options.style.marginLeft = marginLeft;
                        boton_previous.style.marginLeft = marginLeft;
                        boton_next.style.marginRight = marginRight;

                        // Mostrar elementos después de ajustarlos
                        options.style.visibility = 'visible';
                        boton_next.style.visibility = 'visible';
                        boton_previous.style.visibility = 'visible';
                    }
                });
            };

            // Llama a la función inicialmente y en cada resize
            ajustarPosicionOptions();
            window.addEventListener('resize', ajustarPosicionOptions);

            const modal = document.getElementById('deleteModal');
            const confirmButton = document.getElementById('confirmDelete');
            const cancelButton = document.getElementById('cancelDelete');
            let userIdToDelete = null;

            // Función para abrir el modal
            function openModal() {
                modal.classList.add('is-active');
            }

            // Función para cerrar el modal
            function closeModal() {
                modal.classList.remove('is-active');
                userIdToDelete = null;
            }

            function resetSelect(selectElement) {
                selectElement.selectedIndex = 0; // Vuelve a seleccionar la primera opción ("Selecciona la operación")
            }

            // Manejar el clic en los botones de eliminar
            const deleteButtons = document.querySelectorAll('.delete-button');
            deleteButtons.forEach(button => {
                button.addEventListener('click', function (e) {
                    e.preventDefault();  // Evita el comportamiento predeterminado del enlace
                    userIdToDelete = this.dataset.userId;  // Obtener el ID del jinete a eliminar
                    openModal();  // Mostrar el modal
                });
            });

            // Manejar la confirmación de eliminación
            confirmButton.addEventListener('click', function () {
                if (userIdToDelete) {
                    const deleteUrl = "{{ url_for('horsemen_and_amazons.delete_horseman', user_id=0) }}".replace('/0', `/${userIdToDelete}`);
                    window.location.href = deleteUrl;
                }
            });

            // Cancelar y cerrar el modal
            cancelButton.addEventListener('click', closeModal);
            document.querySelector('.modal-close').addEventListener('click', closeModal);
            });

</script>
{% endblock %}