{% extends "layout.html" %}
{% block title %}Pagos{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/payment_and_billing/list.css') }}">
{% endblock %}
{% block content %}

<div class="container">
    <div class="header-container">
        <h1>Lista de Pagos</h1>
        <a href="{{ url_for('payment.new_payment') }}" class="button is-white is-size-6">Agregar pago</a>
    </div>

    <div class="search-container">
        <form class="form-container" method="get" action="{{ url_for('payment.list_payments') }}">
            <select name="order" id="order" >
                <option value="asc" {% if order == 'asc' %}selected{% endif %}>Fecha: Orden Ascendente</option>
                <option value="desc" {% if order == 'desc' %}selected{% endif %}>Fecha: Orden Descendente</option>
            </select>
            <select name="payment_method" id="payment_method">
                <option value="">Tipo de pago</option>
                <option value="efectivo" {% if payment_method == 'honorarios' %}selected{% endif %}>Honorarios</option>
                <option value="credito" {% if payment_method == 'proveedor' %}selected{% endif %}>Proveedor</option>
                <option value="debito" {% if payment_method == 'gastos_varios ' %}selected{% endif %}>Gastos varios</option>
            </select>
            <input type="date" id="start_date" name="start_date" value="{{ request.args.get('start_date', '') }}">
            <input type="date" id="end_date" name="end_date" value="{{ request.args.get('end_date', '') }}">
            <button type="submit" class="button">Buscar</button>
        </form>
        <form class="search-form" method="get" action="{{ url_for('payment.list_payments') }}">
            <input hidden name="order" id="order" value="asc">
            <input hidden name="payment_method" id="payment_method" value="">
            <input hidden type="date" id="start_date" name="start_date" value="">
            <input hidden type="date" id="end_date" name="end_date" value="">
            <button type="submit" style="margin-left: 5px;" class="button">Restablecer</button>
        </form>
    </div>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Beneficiario</th>
                    <th>Monto</th>
                    <th>Fecha</th>
                    <th>Tipo de pago</th>
                    <th>Descripción</th>   
                </tr>
            </thead>
            <tbody>
                {% if payments %}
                    {% for payment in payments %}
                    <tr>
                        <td>{{ payment.employee_name }}</td>
                        <td>{{ payment.amount }}</td>
                        <td>{{ payment.payment_date.strftime('%d-%m-%Y') }}</td>
                        <td>{{ payment.payment_type }}</td>
                        <td>{{ payment.description }}</td>
                        <td>
                            <a href="{{ url_for('payment.show_payment', payment_id=payment.id) }}" class="button is-small is-white"><i class="fas fa-eye" title="Ver"></i></a>
                            <a href="{{ url_for('payment.edit_payment', payment_id=payment.id) }}" class="button is-small is-white"><i class="fas fa-edit" title="Editar"></i></a>
                            <a class="button is-small is-white delete-button" data-payment-id="{{ payment.id }}" data-payment-pos="{{ payment.pos }}"><i class="fas fa-trash" title="Eliminar"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">No hay pagos</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {# <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous" {% if not pagination.has_prev %}disabled{% else %}href="{{ url_for('payment.list_payments', page=pagination.prev_num,  order=order, q=q) }}"{% endif %}>Previous</a>
        <a class="pagination-next" {% if not pagination.has_next %}disabled{% else %}href="{{ url_for('payment.list_payments', page=pagination.next_num,  order=order, q=q) }}"{% endif %}>Next page</a>
    </nav> #}
</div>

<div id="deleteModal" class="modal">
    <div class="modal-content">
        <h3>¿Estás seguro de que deseas eliminar el cobro de ID:<span id="billingPosToDelete"></span>?</h3>
        <div class="modal-actions">
            <button id="cancelButton" class="button">Cancelar</button>
            <button id="confirmButton" class="button is-danger">Eliminar</button>
        </div>
    </div>
</div>

{% endblock %}