button {
    margin: 0px;
    white-space: nowrap;
}

.buttons {
    display: flex;
    flex-direction: row; /* Cambia a columna en pantallas más pequeñas */
    align-items: center; /* Centra los botones horizontalmente */
    justify-content: center; /* Centra los botones verticalmente */
    flex-wrap: nowrap;
}

.boton-cancelar {
    background-color: var(--secondary-color);
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

