table, table th, table td{
    margin: auto;
    background-color: white !important;
}

table, table th, table td {
    color:black !important;
}

table.users tbody tr:hover {
    cursor: pointer; /* Cambia el puntero a mano */
    transform: scale(1.05); /* Cambia el color de fondo al pasar el mouse */
    transition: background-color 0.3s; /* Suaviza el cambio de color */
}

.add-horseman {
    width: auto;
}

.separador{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: solid 2px black;
    max-width: 400px;
}

.encabezado {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    width: 100%;
}

#form-search {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    justify-content: space-between;
    width: 90%;
    max-width: 800px;
}

.field {
    flex: 1 1 45%; /* Ajusta el tamaño de los campos, permitiendo flexibilidad */
    min-width: 185px; /* Define un ancho mínimo para los campos */
    margin-bottom: 10px;
}

div.field.is-grouped {
    margin: auto;
}

.boton {
    flex-basis: 100%; /* Botón de búsqueda ocupará todo el ancho en pantallas pequeñas */
    margin-top: 10px;
    width: 100%;
}

h1 {
    font-size: 2rem;
}

input {
    margin-bottom: 15px !important;
    border-radius: 10px !important;
    border: 1px solid hsl(221, 14%, 80%) !important;
    height: 40px !important;
    transition: box-shadow 0.2s ease, border-color 0.2s ease !important;
    width: 100% !important;
    background-color: white !important;
}

p{
    padding-left: 10px;
    margin-bottom: -2px ;
}

.input, .input::placeholder, .label, .button {
    color: black;
    font-weight: 600;
    font-style: bold;
}

.label {
    margin-bottom: 0px !important;
    margin-left: 5px !important;
}

.order_options {
    display: flex;
    justify-content: center;
    margin-right: 165px;
}

.order_options_docs {
    display: flex;
    justify-content: center;
    margin-right: 385px;
}

.boton {
    background-color: var(--primary-color);
    width: 40%;
    height: 40px;
    color: white;
    font-weight: bold;
    display: block;
    margin: 23px auto;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    white-space: nowrap;
}

.filter {
    margin-left: 0px;
    margin-right: 0px;
}

.filter:hover {
    background-color: hsl(221, 14%, 40%);
    transform: scale(1.05);
}   

i {
    color: black !important;
}

input:focus {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) !important;
    border-color: hsl(221, 14%, 50%) !important;
    outline: none !important;
}