
#info {
    margin-right: 40px;
}

.clicked {
    border-bottom: solid 2px var(--primary-color);
    color: grey;
}


td.botones{
    display: flex;
    justify-content: space-between;
}

.boton-filtrado {
    width: 100% !important;
}

/* Agregar al archivo jya_info.css */
.docs {
    visibility: hidden;
}
.docs.loaded {
    visibility: visible;
}

.botones-docs{
    display: flex;               /* Usa Flexbox para alinear los elementos en fila */
    justify-content: center;     /* Centra los botones horizontalmente */
    align-items: center;
    gap: 20px;         /* Alinea los botones verticalmente al centro */
}

.botones-docs .boton{
    width: 100% !important;
    padding: 0px 10px;
    white-space: nowrap;
}