
#info {
    margin-right: 40px;
}

.clicked {
    border-bottom: solid 2px var(--primary-color);
    color: grey;
}


td.botones{
    display: flex;
    justify-content: space-between;
}

.boton-filtrado {
    width: 100% !important;
}

/* Agregar al archivo jya_info.css */
.docs {
    visibility: hidden;
}
.docs.loaded {
    visibility: visible;
}