{% extends "layout.html" %}
{% block title %}Editar cobro{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/payment_and_billing/edit.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
{% endblock %}
{% block content %}
<form method="POST" action="{{ url_for('billing.edit_billing', billing_id=billing.id) }}">
    {{ form.csrf_token }}

    <div class="div-titulo">
        <h1 class="label">Editar cobro</h1>
        <hr class="linea-titulo">
    </div>

    <label class="label" for="jya_id">J&A</label>
    <div class="control">
        <select name="jya_id" id="jya_id">
            <option value=""></option>
            {% for jya in jya_list %}
            <option value="{{ jya.id }}" {% if jya.id == billing.jya_id %}selected{% endif %}>{{ jya.name }} {{ jya.last_name }}</option>
            {% endfor %}
        </select>
        {% if form.jya_id.errors %}
            <div class="alert alert-danger">
                {% for error in form.jya_id.errors %}
                    <span style="color: red">{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <hr style="margin-top: 0;">

    <label class="label" for="payment_date">Fecha de pago</label>
    <input class="input" type="date" name="payment_date" id="payment_date" value="{{ billing.payment_date.strftime('%Y-%m-%d') }}">
    {% if form.payment_date.errors %}
            <div class="alert alert-danger">
                {% for error in form.payment_date.errors %}
                    <span style="color: red">{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    <hr>

    <label class="label" for="payment_method">Metodo de pago</label>
    <div class="control">
        <select name="payment_method" id="payment_method">
            <option value=""></option>
            <option value="Efectivo" {% if billing.payment_method == 'Efectivo' %}selected{% endif %}>Efectivo</option>
            <option value="Tarjeta de credito" {% if billing.payment_method == 'Tarjeta de credito' %}selected{% endif %}>Tarjeta de crédito</option>
            <option value="Tarjeta de debito" {% if billing.payment_method == 'Tarjeta de debito' %}selected{% endif %}>Tarjeta de débito</option>
            <option value="Otro" {% if billing.payment_method == 'Otro' %}selected{% endif %}>Otro</option>
        </select>
    </div>
    {% if form.payment_method.errors %}
            <div class="alert alert-danger">
                {% for error in form.payment_method.errors %}
                    <span style="color: red">{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    <hr style="margin-top: 0;">

    <label class="label" for="amount">Monto</label>
    <input class="input" name="amount" type="number" step="0.01" min="0" value="{{ billing.amount }}">
    {% if form.amount.errors %}
            <div class="alert alert-danger">
                {% for error in form.amount.errors %}
                    <span style="color: red">{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    <hr style="margin-top: 0;">

    <label class="label" for="employee_id">Empleado</label>
    <div class="control">
        <select name="employee_id" id="employee_id">
            <option value=""></option>
            {% for employee in employee_list %}
            <option value="{{ employee.id }}" {% if employee.id == billing.employee_id %}selected{% endif %}>{{ employee.name }} {{ employee.last_name }}</option>
            {% endfor %}
        </select>
        {% if form.employee_id.errors %}
            <div class="alert alert-danger">
                {% for error in form.employee_id.errors %}
                    <span style="color: red">{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <hr style="margin-top: 0;">

    <label class="label" for="observation">Observaciones:</label>
    <textarea class="textarea" type="text" name="observation" id="observation">{{ billing.observation }}</textarea>
    {% if form.observation.errors %}
            <div class="alert alert-danger">
                {% for error in form.observation.errors %}
                    <span style="color: red" >{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    <hr>

    <div class="buttons">
        <a class="a-button" href="{{ url_for('billing.show_billing', billing_id = billing.id) }}" style="color: white;"><button type="button">Cancelar</button></a>
        <button type="submit">Actualizar</button>
    </div>
        
</form>

<script>
    $(document).ready(function () {
        //Script para el select de J&A
        $('select').selectize({
            sortField: 'text'
        });
    });
    var today = new Date().toISOString().split('T')[0];
    document.getElementById('payment_date').setAttribute('max', today);
</script>

{% endblock %}