{% extends "layout.html" %}
{% block title %}Cobros{% endblock %}
{% block content %}

<style>
    .container {
        width: 60%;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .table-container {
        width: 100%;
        margin: 0 auto;
    }
    
    .table {
        width: 100%;
        margin: 0 auto;
        border-collapse: collapse;
    }
    
    .table th, .table td {
        padding: 8px;
    }
    
    .table th {
        text-align: left;
    }
</style>

<div class="container">
    <div class="header-container">
        <h1>Lista de Cobros</h1>
        <a href="{{ url_for('billing.new_billing') }}" class="button is-white is-size-6">Agregar cobro</a>
    </div>

    <div class="search-container">
        <form class="form-container" method="get" action="{{ url_for('billing.list_billings') }}">
            <input type="text" name="q" placeholder="Buscar por nombre" value="{{ request.args.get('q', '') }}">
            <select name="order" id="order" onchange="this.form.submit()">
                <option value="asc" {% if order == 'asc' %}selected{% endif %}>Orden Ascendente</option>
                <option value="desc" {% if order == 'desc' %}selected{% endif %}>Orden Descendente</option>
            </select>
            <select name="payment_method" id="payment_method" onchange="this.form.submit()">
                <option value="">Metodo de pago</option>
                <option value="efectivo" {% if payment_method == 'efectivo' %}selected{% endif %}>Efectivo</option>
                <option value="credito" {% if payment_method == 'credito' %}selected{% endif %}>Tarjeta de crédito</option>
                <option value="debito" {% if payment_method == 'debito' %}selected{% endif %}>Tarjeta de débito</option>
                <option value="otro" {% if payment_method == 'otro' %}selected{% endif %}>Otro</option>
            </select>
            <input type="date" id="start_date" name="start_date" value="{{ request.args.get('start_date', '') }}">
            <input type="date" id="end_date" name="end_date" value="{{ request.args.get('end_date', '') }}">
            <button type="submit" class="button">Buscar</button>
        </form>
        <form class="search-form" method="get" action="{{ url_for('billing.list_billings') }}">
            <input hidden name="q" id="q" value="">
            <input hidden name="order" id="order" value="asc">
            <input hidden name="payment_method" id="payment_method" value="">
            <input hidden type="date" id="start_date" name="start_date" value="">
            <input hidden type="date" id="end_date" name="end_date" value="">
            <button type="submit" style="margin-left: 5px;" class="button">Restablecer</button>
        </form>
    </div>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Empleado</th>
                    <th>JYA</th>
                    <th>Monto</th>
                    <th>Dia</th>
                    <th>Metodo de pago</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% if billings %}
                    {% for billing in billings %}
                    <tr>
                        <td><a href="#">{{ billing.employee_name }}</a></td>
                        <td><a href="#">{{ billing.jya_name }}</a></td>
                        <td>{{ billing.amount }}</td>
                        <td>{{ billing.payment_date.strftime('%d-%m-%Y') }}</td>
                        <td>{{ billing.payment_method }}</td>
                        <td>
                            <a href="{{ url_for('billing.show_billing', billing_id = billing.id) }}" class="button is-small is-white"><i class="fas fa-eye" title="Ver"></i></a>
                            <a href="#" class="button is-small is-white"><i class="fas fa-edit" title="Editar"></i></a>
                            <a href="#" class="button is-small is-white"><i class="fas fa-trash" title="Eliminar"></i></a>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">No hay cobros</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous" {% if not pagination.has_prev %}disabled{% else %}href="{{ url_for('billing.list_billings', page=pagination.prev_num,  order=order, q=q) }}"{% endif %}>Previous</a>
        <a class="pagination-next" {% if not pagination.has_next %}disabled{% else %}href="{{ url_for('billing.list_billings', page=pagination.next_num,  order=order, q=q) }}"{% endif %}>Next page</a>
    </nav>
</div>

{% endblock %}