{% extends "layout.html" %}
{% block title %}Cobros{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/payment_and_billing/list.css') }}">
{% endblock %}

{% block content %}



<div class="container">
    <div class="header-container">
        <h1 class="is-size-2-mobile is-size-2-tablet is-size-2-desktop">Lista de Cobros</h1>
        <a href="{{ url_for('billing.new_billing') }}" class="button is-white is-size-6">Agregar cobro</a>
    </div>

    <div class="search-container">
            <form class="form-container" method="get" action="{{ url_for('billing.list_billings') }}">
                <div class="columns is-desktop">
                    <div class="column is-one-fifth">
                        <input class="input" type="text" name="q" placeholder="Buscar por nombre" value="{{ request.args.get('q', '') }}">
                    </div>
                    <div class="column">
                        <div class="select">
                            <select name="order" id="order" onchange="this.form.submit()">
                                <option value="asc" {% if order == 'asc' %}selected{% endif %}>Orden Ascendente</option>
                                <option value="desc" {% if order == 'desc' %}selected{% endif %}>Orden Descendente</option>
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <div class="select">
                            <select name="payment_method" id="payment_method" onchange="this.form.submit()">
                                <option value="">Metodo de pago</option>
                                <option value="efectivo" {% if payment_method == 'efectivo' %}selected{% endif %}>Efectivo</option>
                                <option value="credito" {% if payment_method == 'credito' %}selected{% endif %}>Tarjeta de crédito</option>
                                <option value="debito" {% if payment_method == 'debito' %}selected{% endif %}>Tarjeta de débito</option>
                                <option value="otro" {% if payment_method == 'otro' %}selected{% endif %}>Otro</option>
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <input class="input" type="date" id="start_date" name="start_date" value="{{ request.args.get('start_date', '') }}">
                    </div>
                    <div class="column">
                        <input class="input" type="date" id="end_date" name="end_date" value="{{ request.args.get('end_date', '') }}">
                    </div>
                    <div class="column">
                        <button type="submit" class="button search-button">Buscar</button>
                    </div>
                    <div class="column">
                        <a class="button restore-button" href="{{ url_for('billing.list_billings', page=page, order=order) }}">Restablecer</a>
                    </div>
                </div>
            </form>
    </div>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Empleado</th>
                    <th>JYA</th>
                    <th>Monto</th>
                    <th>Dia</th>
                    <th>Metodo de pago</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% if billings %}
                    {% for billing in billings %}
                    <tr>
                        <td>{{ billing.pos }}</td>
                        <td><a href="#">{{ billing.employee_name }}</a></td>
                        <td><a href="#">{{ billing.jya_name }}</a></td>
                        <td>{{ billing.amount }}</td>
                        <td>{{ billing.payment_date.strftime('%d-%m-%Y') }}</td>
                        <td>{{ billing.payment_method }}</td>
                        <td>
                            <a href="{{ url_for('billing.show_billing', billing_id=billing.id) }}" class="button is-small is-white"><i class="fas fa-eye" title="Ver"></i></a>
                            <a href="{{ url_for('billing.edit_billing', billing_id=billing.id) }}" class="button is-small is-white"><i class="fas fa-edit" title="Editar"></i></a>
                            <a class="button is-small is-white delete-button" data-billing-id="{{ billing.id }}" data-billing-pos="{{ billing.pos }}"><i class="fas fa-trash" title="Eliminar"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">No hay cobros</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous" {% if not pagination.has_prev %}disabled{% else %}href="{{ url_for('billing.list_billings', page=pagination.prev_num,  order=order, q=q) }}"{% endif %}>Previous</a>
        <a class="pagination-next" {% if not pagination.has_next %}disabled{% else %}href="{{ url_for('billing.list_billings', page=pagination.next_num,  order=order, q=q) }}"{% endif %}>Next page</a>
    </nav>
</div>

<div id="deleteModal" class="modal">
    <div class="modal-content">
        <h3>¿Estás seguro de que deseas eliminar el cobro de ID:<span id="billingPosToDelete"></span>?</h3>
        <div class="modal-actions">
            <button id="cancelButton" class="button">Cancelar</button>
            <button id="confirmButton" class="button is-danger">Eliminar</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteButtons = document.querySelectorAll('.delete-button');
        const deleteModal = document.getElementById('deleteModal');
        const cancelButton = document.getElementById('cancelButton');
        const confirmButton = document.getElementById('confirmButton');
        const billingPosToDeleteSpan = document.getElementById('billingPosToDelete');
        let billingIdToDelete = null;

        deleteButtons.forEach(button => {
            button.addEventListener('click', function () {
                billingIdToDelete = this.dataset.billingId;
                billingPosToDelete = this.dataset.billingPos;
                console.log(billingIdToDelete);
                console.log(billingPosToDelete);
                billingPosToDeleteSpan.textContent = billingPosToDelete;
                deleteModal.style.display = 'block';
            });
        });

        cancelButton.addEventListener('click', function () {
            deleteModal.style.display = 'none';
            billingIdToDelete = null;
        });

        confirmButton.addEventListener('click', function () {
            if (billingIdToDelete) {
                fetch(`/cobros/eliminar/${billingIdToDelete}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ form.csrf_token._value() }}'
                    }
                }).then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        alert('Error al eliminar el cobro');
                    }
                });
            }
        });

        window.onclick = function (event) {
            if (event.target == deleteModal) {
                deleteModal.style.display = 'none';
            }
        }
    });
    var today = new Date().toISOString().split('T')[0];
    document.getElementById('start_date').setAttribute('max', today);
    document.getElementById('end_date').setAttribute('max', today);
</script>

{% endblock %}