<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ error.title }}</title>

    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static\styles', filename='error.css') }}">
    {% endblock %}

</head>
<body>
    <div class="error-container">
        <div class="error-code">{{ error.code }}</div>
        <div class="error-message">{{ error.message }}</div>
        <div class="error-details">{{ error.description }}</div>
        <div class="link-container">
            <a href="{{ url_for('home') }}" class="more-link">Ir al inicio</a>
        </div>
    </div>
</body>
</html>