{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar_buttons %}
<style>

    #icono-usuario {
        font-size: 24px; /* Ajusta el tamaño del ícono aquí */
        width: 35px;      /* Ancho del contenedor */
        height: 35px;     /* Alto del contenedor */
        border: 1px solid black; 
        border-radius: 50%; 
        padding: 4px;     /* Espaciado interno para el borde */
        display: inline-flex; 
        align-items: center; 
        justify-content: center; 
        margin-right: 100px;
    }

</style>


<div class="navbar-end">
    <div class="navbar-item">
        <div class="buttons">
          {% if user %}
              <i id="icono-usuario" class="fa-solid fa-user " alt="Icono de usuario" ></i>
              <div class="navbar-dropdown" id="user-dropdown" >
                <a class="navbar-item" href="/perfil">
                  Perfil
                </a>
                <a class="navbar-item" href="/configuracion">
                  Configuración
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/logout">
                  Cerrar sesión
                </a>
              </div>

              <script>
                document.getElementById('icono-usuario').addEventListener('click', function() {
                  var dropdown = document.getElementById('user-dropdown');
                  dropdown.style.display = (dropdown.style.display === 'none' || dropdown.style.display === '') ? 'block' : 'none';
                });
              </script>
              
          {% else %}
            <a class="button is-light" style="background-color: var(--primary-color) !important" href=" {{ url_for('login.login') }}">
              Iniciar Sesión
            </a>
          {% endif %}
        </div>
    </div>
</div>


{% endblock %}


