{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar_buttons %}
<div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light">
        <a class="button is-primary" href="{{ url_for('registry.registry_function') }}">
          <strong>Registrarse</strong>
        </a>
        <a class="button is-light" href="{{ url_for('login.login') }}">
          Iniciar Sesión
        </a>
      </div>
    </div>
</div>
{% endblock %}
