<!DOCTYPE html>

<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="description" content="El Centro de Equitación para Personas con Discapacidad y Carenciadas, CEDICA, es una Asociación Civil sin Fines de Lucro, fundada en 1994 en la ciudad de La Plata, Provincia de Buenos Aires, Argentina. CEDICA trabaja con la finalidad de IGUALAR OPORTUNIDADES en procura de la reinserción familiar, el logro de la escolaridad, la integración laboral y la mejora integral de la calidad de vida de los J&A (“Jinetes” y “Amazonas”) que forman parte de la institución.
        Las actividades que se realizan se denominan Terapias y Actividades asistidas con Caballos –TACAs-, aunque históricamente también fueron conocidas con otros términos como Rehabilitación Ecuestre o Equinoterapia. Se trata de una terapia integral que apunta a la recuperación de la persona en sus dimensiones biológica, psíquica y social. El principal recurso de trabajo es el Caballo, como mediador y facilitador de las intervenciones terapéuticas que cada profesional de la salud o la educación planifica para las diferentes Personas con Discapacidad que asisten a la institución.
        CEDICA cuenta con un Equipo de trabajo integrado por personal ecuestre, técnicos y profesionales: Terapistas Ocupacionales (T.O.), Psicólogos, Psicopedagogos, Psicomotricistas, Profesores de Educación Física y Equitación; Instructores de Volteo; Médico Veterinario, capacitados en TACAs. A ello se suman anualmente una gran cantidad de voluntarios, en su mayoría estudiantes universitarios de la UNLP y la UNQUI; y el plantel se completa con los caballos en actividad y potrillos en etapa de entrenamiento.
        Este Equipo de trabajo se divide en 5 grandes Áreas, a saber: Área Técnica, Área Ecuestre, Área de Voluntariado, Área de Gestión y Administración; y Área de Capacitación. Cada una de ellas, cuenta con sus propios Procesos de Trabajo para cumplir con la tarea y los objetivos institucionales."/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
          rel="stylesheet"
          href="{{ url_for('static', filename='styles/style.css') }}"
        />
        <link
          rel="stylesheet"
          href="{{ url_for('static', filename='styles/flash.css') }}"
        />
        <link
          rel="stylesheet"
          href="{{ url_for('static', filename='styles/navbar.css') }}"
        />
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
        <link rel="icon" href="/static/logos/favicon.png" type="image/png">
        <meta name="google-site-verification" content="M9BWQjY2pwU9TRpmr96wbXKFlA5zhwZ6xCcPsynmSoA" />
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div>
            {% block navbar %} 
            <nav class="navbar is-white" style="background-color: white;" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a href="{{ url_for('home') }}">
                        <img class="navbar-item navbar-logo" src="{{ url_for('static', filename='logos/cedica.png') }}">
                    </a>
        
                  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarElement">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>
                
                <div id="navbarElement" class="navbar-menu">
                  <div class="navbar-start">
                  {% if 'jya_index' in g.user_permissions or g.user_system_admin %}
                    <a class="navbar-item" href="{{ url_for('horsemen_and_amazons.list_jya_users') }}" >
                      J&A
                    </a>
                    {% endif %}

                    {% if 'horse_index' in g.user_permissions or g.user_system_admin %}
                    <a class="navbar-item" href=" {{ url_for('horses.list_horses') }}">
                      Ecuestre
                    </a>
                    {% endif %}

                    {% if 'team_index' in g.user_permissions or g.user_system_admin %}
                    <a class="navbar-item" href="{{ url_for('team.list_team') }}">
                        Equipo
                    </a>
                    {% endif %}
                    {% if 'billing_index' in g.user_permissions or g.user_system_admin %}
                    <a class="navbar-item" href="{{ url_for('billing.list_billings') }}">
                        Cobros
                    </a>
                    {% endif %}

                    {% if 'payment_index' in g.user_permissions or g.user_system_admin %}
                    <a class="navbar-item" href="{{url_for('payment.list_payments')}}">
                        Pagos
                    </a>
                    {% endif %}

                    {% if g.user_system_admin %}
                    <a class="navbar-item" href=" {{ url_for('users.index') }}">
                        Usuarios
                    </a>
                    {% endif %}

                  </div>
                
                <div class="navbar-end">
                  <div class="navbar-item">
                    {% if is_authenticated(session) %}
                      <div class="navbar-item user-dropdown is-hidden-touch">
                        <i class="fas fa-user-circle user-icon" id="userIcon"></i>
                        <div class="dropdown-content" id="userDropdown">
                          <div class="user-info">
                            <div class="user-alias"> {{ user(session).alias }}</div>
                            <div class="user-email"> {{ user(session).email }} </div>
                          </div>
                          <a class="dropdown-item" href="{{ url_for('users.show_user', id=session["user_id"]) }}">
                            <i class="fas fa-user"></i>
                            <span>Mi Perfil</span>
                          </a>
                          <a class="dropdown-item" href="{{ url_for('login.logout') }}" >
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Cerrar Sesión</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                      <div class="is-hidden-desktop">
                        <a class="navbar-item" href="{{ url_for('users.show_user', id=session["user_id"]) }}">
                          Perfil
                        </a>
                        <a class="navbar-item" href="/configuracion">
                          Configuración
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{{ url_for('login.logout') }}">
                          Cerrar sesión
                        </a>
                      </div>
                      <script>
                          document.addEventListener('DOMContentLoaded', () => {
                              const userIcon = document.getElementById('userIcon');
                              const userDropdown = document.getElementById('userDropdown');
                  
                              userIcon.addEventListener('click', (e) => {
                                  e.stopPropagation();
                                  userDropdown.classList.toggle('show');
                              });
                  
                              document.addEventListener('click', (e) => {
                                  if (!userDropdown.contains(e.target) && !userIcon.contains(e.target)) {
                                      userDropdown.classList.remove('show');
                                  }
                              });
                          });
                      </script>
                      {% else %}
                        <a class="button is-light login-button" style="background-color: var(--primary-color) !important" href=" {{ url_for('login.login') }}">
                          Iniciar Sesión
                        </a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </nav>
            {% endblock %}
        </div>
        <!-- bloque para los mensajes flash -->
      <div class="container">
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                      <div class="notification is-{{ category }} is-flex is-allign-items-center">
                        <div class="content-wrapper">
                          <span class="icon">
                              <i class="icon-notification fas 
                                {% if category == 'info' %} fa-info-circle has-text-info 
                                {% elif category == 'success' %} fa-check-square has-text-success
                                {% elif category == 'warning' %} fa-exclamation-triangle has-text-warning
                                {% elif category == 'error' %} fa-ban has-text-danger
                                {% endif %}">
                              </i>
                            </span>
                          <span class="message">{{ message }}</span>
                        </div>
                        <button class="delete"></button>
                      </div>
                  {% endfor %}
              {% endif %}
          {% endwith %}
      </div>
        <div id="container">
            {% block content %}
            {% endblock %}
        </div>
        <div>{% block footer %} {% endblock %}</div>
         <!-- Script para ocultar los mensajes flash automáticamente -->
         <script>
          document.addEventListener('DOMContentLoaded', () => {
              // Encuentra todas las notificaciones flash
              const notifications = document.querySelectorAll('.notification');

              console.log(notifications)
              // Establecer el tiempo de desaparición (en milisegundos)
              const timeout = 3000; // 3 segundos

              notifications.forEach(notification => {
                  // Ocultar la notificación después de 3 segundos
                  setTimeout(() => {
                      notification.remove();
                      console.log("Entre en el timeout")
                  }, timeout);
            
                  // Opción para cerrar manualmente
                  const deleteButton = notification.querySelector('.delete');
                  if (deleteButton) {
                      console.log("Entre en el delete")
                      deleteButton.addEventListener('click', () => {
                          notification.remove();
                      });
                  }
              });
          });
      </script>
      <!-- Script para el navbar burger -->
      <script>
        document.addEventListener('DOMContentLoaded', () => {
    
          // Get all "navbar-burger" elements
          const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    
          // Add a click event on each of them
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {
    
              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);
    
              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
    
            });
          });
    
        });
    </script>
    </body>
</html>
