{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block content%}
<div class="container is-max-desktop">
    <div class="box">
        <h1 class="is-size-4-desktop">Perfil de usuario: {{context.user.alias}}</h1>
        <hr>
        <div>
            <label class="is-size-4-desktop">Correo Electrónico</label>
            <p>{{ context.user.email }}</p>
        </div>
        <hr>
        <div class="is-flex">
            <div >
            <label class="is-size-4-desktop">Rol</label>
            <p>{{ context.user.role.name }}</p>
            </div>
            <div>
                {% if not context.user.system_admin %}
                <label class="is-size-5-desktop">Cambiar rol</label>
                <form method="POST" action="{{url_for('profile.change_role', id=context.user.id)}}">          
                    <div class="select">
                        <select name="role">
                            {% for role in context.roles %}
                                <option value="{{ role.id }}" {% if role.id == context.user.role.id %}selected{% endif %}>{{ role.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="button is-dark">Cambiar</button>
                </form>
                {% endif %}
            </div>    
        </div>
        <hr>
        <div>
            {% if not context.user.system_admin %}
            <form method="POST" action="{{url_for('profile.block_user', id=context.user.id)}}">
                <button type="submit" class="button is-dark {% if context.user.is_blocked %}is-success{% else %}is-danger{% endif %}">
                    {% if context.user.is_blocked %}
                        Desbloquear
                    {% else %}
                        Bloquear
                    {% endif %}
                </button>
            </form>
            {%endif%}
        </div>
    </div>
        <a class="button is-dark" href="{{ url_for('users.index') }}">Volver</a>
    </div>
{% endblock %}