{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block content%}
<div class="container">
    <h1 class="title is-size-2 has-text-centered  has-text-black-bis mt-5">Usuarios</h1>
    <div class="container" style="margin-bottom: 2px;">
        <a style="margin-bottom: 10px;" class="button is-white is-size-6" href="{{ url_for('registry.registry_function') }}">
            <strong>Crear usuario</strong>
        </a>
        <form method="Post" action="{{url_for('users.index')}}">
            <div class="select ">
                <select name="order_option" onchange="this.form.submit()">
                    <option value="default">Ordenar por:</option>
                    <option value="email_asc">Email: Orden ascendente</option>
                    <option value="email_desc">Email: Orden descendente</option>
                    <option value="creation_date_asc">Fecha creación: Orden ascendente</option>
                    <option value="creation_date_desc">Fecha creación: Orden descendente</option>
                </select>
            </div>
        </form>
    </div>
    <table class="table is-striped is-bordered is-fullwidth">
        <thead>
            <tr>
                <th>Email</th>
                <th>Alias</th>
                <th>Rol</th>
                <th>Bloquear usuario</th>
            </tr>
        </thead>
        {% if context.users %}
        {% for user in context.users %}
        <tbody>
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.alias }}</td>
                <td>{{ user.role.name }}</td>
                <td>
                    {% if not user.system_admin %}
                    <form method="POST" action="{{url_for('users.block_user')}}">
                        <input type="hidden" name="user_email" value="{{ user.email }}">
                        <button type="submit" class="button is-dark {% if user.is_blocked %}is-success{% else %}is-danger{% endif %}">
                            {% if user.is_blocked %}
                                Desbloquear
                            {% else %}
                                Bloquear
                            {% endif %}
                        </button>
                    </form>
                    {%endif%}
                </td>
            </tr>
        </tbody>
        {% endfor %}
        {% endif %}
    </table>
    <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous" {% if not context.users.has_prev %}disabled{% else %}href="{{url_for('users.index', page=page-1,  order_option=order_by)}}"{% endif %}>Previous</a>
        <a class="pagination-next" {% if not context.users.has_next %}disabled{% else %}href="{{url_for('users.index', page=page+1,  order_option=order_by)}}"{% endif %}>Next page</a>
    </nav>
</div>

{% endblock %}