{% extends "layout.html" %}

{% block title %}Editar Archivo{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/auth.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/horses/forms.css') }}">
{% endblock %}


{% block content %}

<form  method="POST" enctype="multipart/form-data" action="{{ url_for('horses.edit_file', horse_id=horse_id, file_id=file.id) }}">
    
    {{ form.csrf_token }}
    <div class="div-titulo">
        <h1 class="label">Editar Archivo</h1>
        <hr class="linea-titulo">
    </div>
    
    <label class="label">Ingrese el tipo de archivo</label>
    <div class="control">
        <select class="file_type" name="{{ form.file_type.name }}" value="{{ file.file_type }}">
            <option value="default" {% if file.file_type == 'default' %}selected{% endif %}>Selecciona un tipo</option>
            <option value="Link" {% if file.file_type == 'Link' %}selected{% endif %}>Link</option>
            <option value="Documento" {% if file.file_type == 'Documento' %}selected{% endif %}>Documento</option>
        </select>
    </div>
    <hr>

    <div id="contenedor">
        {% if file.file_type == 'Documento' %}
            <label class="label">Archivo</label>
            <div class="control has-icons-left">
                <span class="icon is-small is-left">
                    <i class="fas fa-file-upload"></i>
                </span>
                <input class="input" type="file" id="file_url" name="{{ form.file_url.name }}" placeholder="Selecciona el archivo" value="{{ form.file_url.value }}">
            </div>
            <hr>
        {% elif file.file_type == 'Link' %}
            <label class="label">Url de archivo</label>
            <div class="control has-icons-left">
                <span class="icon is-small is-left">
                    <i class="fas fa-link"></i>
                </span>
                <input class="input" type="text" id="link_url" required  name="{{ form.link_url.name }}" placeholder="Ingresa la URL" value="{{ file.file_url }}">
            </div>
            <hr>
        {% endif %}
    </div>

    <label class="label">Tipo de documento</label>
    <div class="control">
        <select class="file_type" id="document_type" name="{{ form.document_type.name }}" value="{{ file.document_type }}">
            <option>Selecciona un tipo de documento</option>
            <option {% if file.document_type == 'Ficha general del caballo' %}selected{% endif %}>Ficha general del caballo</option>
            <option {% if file.document_type == 'Planificacion de entrenamiento' %}selected{% endif %}>Planificacion de entrenamiento</option>
            <option {% if file.document_type == 'Informe de evolucion' %}selected{% endif %}>Informe de evolucion</option>
            <option {% if file.document_type == 'Carga de imagenes' %}selected{% endif %}>Carga de imagenes</option>
            <option {% if file.document_type == 'Registro veterinario' %}selected{% endif %}>Registro veterinario</option>
        </select>
    </div>
    <hr>

    <label class="label">Titulo</label>
    <div class="control has-icons-left">
        <span class="icon is-small is-left">
            <i class="fas fa-file-alt"></i>
        </span>
        <input class="input" type="text" id="title" required name="{{ form.title.name }}" placeholder="Ingrese el titulo del archivo" value="{{ file.title }}">
    </div>
    <hr>
    
    <div class="buttons">
        <button type="submit">Guardar cambios</button>
        <a href="{{ url_for('horses.list_info_by_id', horse_id=horse_id) }}"><button type="button" class="boton-cancelar">Cancelar</button></a>
    </div>
</form>

<script>    

document.addEventListener('DOMContentLoaded', () => {

    const contenedor = document.getElementById("contenedor");

    // Aquí estableces los valores iniciales al cargar la página
    document.addEventListener('change', (e) => {

        if (e.target.classList.contains('file_type')) {
            const selectedValue = e.target.value;

            console.log(selectedValue);

            const input = document.getElementById('file_url');
            
            if (selectedValue === 'Documento'){ 
                let inputDocument = `<label class="label">Archivo</label>
                <div class="control has-icons-left">
                    <span class="icon is-small is-left">
                        <i class="fas fa-file-upload"></i>
                    </span>
                    <input class="input" type="file" id="file_url" name="{{ form.file_url.name }}" placeholder="Selecciona el archivo" value="{{ form.file_url.value }}">
                </div>  
                <hr>`;
                contenedor.innerHTML = inputDocument;
            }

            if (selectedValue === 'Link'){
                let inputLink = `<label class="label">Url de archivo</label>
                <div class="control has-icons-left">
                    <span class="icon is-small is-left">
                        <i class="fas fa-link"></i>
                    </span>
                    <input class="input" type="text" id="link_url" name="{{ form.link_url.name }}" placeholder="Ingresa la URL" value="{{ form.link_url.value }}">
                </div>  
                <hr>`;
                contenedor.innerHTML = inputLink;
            }
        }
    });

    document.getElementById('fileForm').addEventListener('submit', function(event) {
        const fileInput = document.getElementById('fileInput');
        const file = fileInput.files[0];
        
        if (file) {
        const allowedExtensions = ['pdf', 'jpg', 'png']; // Extensiones permitidas
        const fileExtension = file.name.split('.').pop().toLowerCase();
        
        if (!allowedExtensions.includes(fileExtension)) {
            event.preventDefault();
            alert('Solo se permiten archivos con las extensiones: ' + allowedExtensions.join(', '));
        } else {
            alert('Archivo válido, se procederá con el envío.');
        }
        } else {
        event.preventDefault();
        alert('Por favor, selecciona un archivo.');
        }
    });
});
</script>
{% endblock %}
