{% extends "layout.html" %}

{% block title %}Listado de caballos{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ecuestre/horses_list.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ecuestre/horses_info.css') }}"/>
{% endblock %}

{% block content %}

    <div class="encabezado">
        <h1>Listado de Caballos</h1>
    </div>
    <hr class="separador">

    <!-- Botón para agregar un nuevo caballo -->
    <div class="control">
        <a href="{{ url_for('horses.create_horse_view') }}" class="button is-primary is-outlined">
            Agregar Caballo
        </a>
    </div>

    <form method="GET" action="{{url_for('horses.list_horses')}}">
        <div class="field is-grouped">
            <div class="field">
                <label class="label">Nombre</label>
                <div class="control has-icons-left">
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input class="input" type="text" name="name" placeholder="Nombre del caballo" value="{{ name }}" />
                </div>
            </div>
            <div class="field">
                <label class="label">Tipo de jinetes y amazonas asignados</label>
                <div class="control has-icons-left">
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input class="input" type="enum" name="type_jya_assigned" placeholder="Tipo de jinetes y amazonas asignados" value="{{ type_jya_assigned }}" />
                </div>
            </div>
            <button class="boton filter" type="submit">Buscar</button>
        </div>
    </form>
    <form method="GET" action="{{ url_for('horses.list_horses') }}">
        <div class="control order_options">
            <select id="order_option" name="order_option" onchange="this.form.submit()">
                <option value="default">Selecciona un orden</option>
                <option value="name_asc">Nombre: A-Z</option>
                <option value="name_desc">Nombre: Z-A</option>
                <option value="birth_date_asc">Fecha de nacimiento: Menor-Mayor</option>
                <option value="birth_date_desc">Fecha de nacimiento: Mayor-Menor</option>
                <option value="entry_date_asc">Fecha de entrada: Menor-Mayor</option>
                <option value="entry_date_desc">Fecha de entrada: Mayor-Menor</option>
            </select>
        </div>
    </form>
    <table class="table is-striped horses">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha de nacimiento</th>
                <th>Genero</th>
                <th>Raza</th>
                <th>Pelaje</th>
                <th>Compra/Donacion</th>
                <th>Fecha de entrada</th>
                <th>Sede</th>
                <th>Tipo Jinetes/Amazonas asignados</th>
                <th>Empleados</th>
            </tr>
        </thead>
        <tbody>
            {% if horses.items %}
                {% for horse in horses.items %}
                    <a href="url_for('horses.list_info_by_id')">
                        <tr onclick="window.location.href='{{ url_for('horses.list_info_by_id', horse_id=horse.id) }}'">
                            <td> {{horse.name}} </td>
                            <td>{{ horse.date_of_birth.strftime('%d-%m-%Y') }}</td>
                            <td> {{horse.gender}} </td>
                            <td> {{horse.race}} </td>
                            <td> {{horse.fur}} </td>
                            <td> {{horse.purchase_or_donation}} </td>
                            <td> {{  horse.date_of_entry.strftime('%d-%m-%Y')  }} </td>
                            <td> {{horse.sede}} </td>
                            <td> {{horse.type_jya_assigned}} </td>
                            <td>
                                {% for employee in horse.employees %}
                                    {{ employee.name }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    </a>
                {% endfor %}
            {% else %}
                <p style="text-align: center;">No hay caballos registrados en el sistema</p>
            {% endif %}
        </tbody>
    </table>
<!-- Controles de paginación -->
<div class="pagination">
    {% if horses.has_prev %}
        <a href="{{ url_for('horses.list_horses', page=horses.prev_num, order_option=order_by, name=name, type_jya_assigned=type_jya_assigned) }}">
            Anterior
        </a>
    {% endif %}

    <span>Página {{ horses.page }} de {{ horses.pages }}</span>

    {% if horses.has_next %}
        <a href="{{ url_for('horses.list_horses', page=horses.next_num, order_option=order_by, name=name, type_jya_assigned=type_jya_assigned) }}">
            Siguiente
        </a>
    {% endif %}
</div>

{% endblock %}