{% extends "layout.html" %}

{% block title %}Agregar Archivo{% endblock %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/auth.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/horses/forms.css') }}">
{% endblock %}

{% block content %}

<form  id="fileForm" method="POST" enctype="multipart/form-data" action="{{ url_for('horses.add_file', horse_id=horse_id) }}">
    
    {{ form.csrf_token }}
    <div class="div-titulo">
        <h1 class="label">Agregar Archivo</h1>
        <hr class="linea-titulo">
    </div>
    
    <label class="label">Ingrese el tipo de archivo</label>
    <div class="control">
        <select class="file_type" required name="{{ form.file_type.name }}" value="{{ form.file_type.value }}">
            <option value="default" >Selecciona un tipo</option>
            <option value="Link">Link</option>
            <option value="Documento">Documento</option>
        </select>
    </div>
    <hr>

    <div id="contenedor">

    </div>

    <label class="label">Tipo de documento</label>
    <div class="control">
        <select class="file_type" id="document_type" required name="{{ form.document_type.name }}" value="{{ form.document_type.value }}">
            <option>Selecciona un tipo de documento</option>
            <option>Ficha general del caballo</option>
            <option>Planificacion de entrenamiento</option>
            <option>Informe de evolucion</option>
            <option>Carga de imagenes</option>
            <option>Registro veterinario</option>
        </select>
    </div>
    <hr>

    <label class="label">Titulo</label>
    <div class="control has-icons-left">
        <span class="icon is-small is-left">
            <i class="fas fa-file-alt"></i>
        </span>
        <input class="input" type="text" required id="title" name="{{ form.title.name }}" placeholder="Ingrese el titulo del archivo" value="{{ form.title.value }}">
    </div>
    <hr>
    
    <div class="buttons">
        <button type="submit">Agregar Archivo</button>
        <a href="{{ url_for('horses.list_info_by_id', horse_id=horse_id) }}"><button type="button" class="boton-cancelar">Cancelar</button></a>
    </div>

</form>

<script>    

        document.addEventListener('DOMContentLoaded', () => {

            const contenedor = document.getElementById("contenedor");

            document.addEventListener('change', (e) => {

                    if (e.target.classList.contains('file_type')) {
                        const selectedValue = e.target.value;

                        console.log(selectedValue);

                        const input = document.getElementById('file_url')
                        
                        if (selectedValue === 'Documento'){ 

                            let inputDocument = `<label class="label">Archivo</label>
                            <div class="control has-icons-left">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-file-upload"></i>
                                </span>
                                <input class="input" type="file" id="fileInput" required name="{{ form.file_url.name}}" placeholder="Copie la url" value="{{ form.file_url.value }}">
                            </div>  
                            <hr>`;

                            contenedor.innerHTML = inputDocument;
                        }

                        if (selectedValue === 'Link'){

                            let inputLink = `<label class="label">Url de archivo</label>
                            <div class="control has-icons-left">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-link"></i>
                                </span>
                                <input class="input" type="text" id="link_url" required name="{{ form.link_url.name}}" placeholder="Seleccione el archivo" value="{{ form.link_url.value }}">
                            </div>  
                            <hr>`;

                            contenedor.innerHTML = inputLink;
                        }
                    }
                });

                document.getElementById('fileForm').addEventListener('submit', function(event) {
                    const fileInput = document.getElementById('fileInput');
                    const file = fileInput.files[0];
                    
                    if (file) {
                    const allowedExtensions = ['pdf', 'jpg', 'png']; // Extensiones permitidas
                    const fileExtension = file.name.split('.').pop().toLowerCase();
                    
                    if (!allowedExtensions.includes(fileExtension)) {
                        event.preventDefault();
                        alert('Solo se permiten archivos con las extensiones: ' + allowedExtensions.join(', '));
                    } else {
                        // Archivo válido, puede continuar con el envío
                        alert('Archivo válido, se procederá con el envío.');
                    }
                    } else {
                    event.preventDefault();
                    alert('Por favor, selecciona un archivo.');
                    }
                });
        });
</script>
{% endblock %}
