  :root {
    --primary-color: rgba(120,185,190,255);
    --secondary-color: rgba(247,189,105,255);
    --tertiary-color: #034e53;
    --color-text: #abb5b7;
    --font-primary: Poppins;
    --font-color: black;
  }

  html, body {
    font-family: var(--font-primary) !important;
    color: var(--font-color) !important;
  }

table, table th, table td{
  margin: auto;
  background-color: white !important;
}

table, table th, table td {
  color:black !important;
}

input {
  margin-bottom: 15px !important;
  border-radius: 10px !important;
  border: 1px solid hsl(221, 14%, 80%) !important;
  height: 40px !important;
  transition: box-shadow 0.2s ease, border-color 0.2s ease !important;
  width: 100% !important;
  background-color: white !important;
}

select {
  border-radius: 10px !important;
  background-color: hsl(221, 14%, 93%) !important;
  width: 175px !important;
  height: 40px !important;
  color: hsl(221, 14%, 20%)!important ;
  font-family: 'Poppins', sans-serif !important;
  margin-bottom: 15px !important;
  border-color: white !important;
  padding-inline-end: 2px !important;
  transition: background-color 0.3s ease !important;
}

input:focus {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) !important;
  border-color: hsl(221, 14%, 50%) !important;
  outline: none !important;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.table-container {
  width: 100%;
  margin: 0 auto;
}

.search-button{
  background-color: var(--primary-color) !important;
  font-weight: bold !important;
  border: none !important;  
}

.restore-button{
  background-color: var(--tertiary-color) !important;
  font-weight: bold !important;
  border: none !important;  
}

.user-icon {
  color: var(--primary-color) !important;
}

.input, .input::placeholder, .label, .button {
  color: black !important;
  font-weight: 600 !important;
  font-style: bold !important;
}