{% extends "layout.html" %}

{% block title %}Registrarse{% endblock %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/auth.css') }}">
{% endblock %}

{% block content %}

<form  method="POST" action="{{ url_for('users.new_user') }}">
    
    {{ form.csrf_token }}
    <div class="div-titulo">
        <h1 class="label">Registrar usuario</h1>
        <hr class="linea-titulo">
    </div>
    
    <label class="label">Correo Electrónico</label>
    <div class="control has-icons-left">
        <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
        </span>
        <input class="input" type="email" id="email" name="{{ form.email.name }}" placeholder="Ingrese el correo electrónico" value="{{ form.email.value }}">
        {% if form.email.errors %}
            <div class="alert alert-danger">
                {% for error in form.email.errors %}
                    <span style="color: red">{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <hr style="margin-top: 0;">
    
    <label class="label">Alias</label>
    <div class="control has-icons-left">
        <span class="icon is-small is-left">
            <i class="fa-solid fa-user"></i>
        </span>
        <input class="input" type="text" id="alias" name="{{ form.alias.name }}" placeholder="Ingrese el alias" value="{{ form.alias.value }}">
        {% if form.alias.errors %}
        <div class="alert alert-danger">
            {% for error in form.alias.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <hr style="margin-top: 0;">
    
    <label class="label">Contraseña</label>
    <div class="control has-icons-left">
        <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
        </span>
        <input class="input" type="password" id="password" name="{{ form.password.name }}" placeholder="Ingrese la contraseña" value="{{ form.password.value }}">
        {% if form.password.errors %}
        <div class="alert alert-danger">
            {% for error in form.password.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <hr style="margin-top: 0;">
    
    <label class="label">Repita la contraseña</label>
    <div class="control has-icons-left">
        <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
        </span>
        <input class="input" type="password" id="confirm_password" name="{{ form.confirm.name }}" placeholder="Ingrese la contraseña nuevamente" value="{{ form.confirm.value }}">
        {% if form.confirm.errors %}
        <div class="alert alert-danger">
            {% for error in form.confirm.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <hr style="margin-top: 0;">
    
    
    <label class="label">Rol</label>
    <div class="control">
        <select id="role" name="{{ form.role.name }}" value="{{ form.role.value }}">
            <option>Selecciona un rol</option>
            <option>Administración</option>
            <option>Ecuestre</option>
            <option>Voluntariado</option>
            <option>Técnica</option>
        </select>
        {% if form.role.errors %}
        <div class="alert alert-danger">
            {% for error in form.role.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <hr style="margin-top: 0;">
    
    <button type="submit">Registrar usuario</button>
</form>
<a class="a-button " href="{{ url_for('users.index') }}"><button type="button" style="width: 180px;">Listado de usuarios</button></a>

{% endblock %}
