{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/users/list.css') }}">
{% endblock %}

{% block content%}
<div class="container">
    <div class="header-container" style="margin-bottom: 2px;">
        <h1 class="title is-size-2 has-text-centered  has-text-black-bis mt-5">Usuarios</h1>
        <a class="button is-white is-size-6" href="{{ url_for('users.new_user') }}">Crear usuario</a>
    </div>
        <div class="search-container">
            <form class="form-container" method="GET" action="{{url_for('users.index', page=page, order_option=order_option)}}">
                <input name="search" class="input" type="text" placeholder="Buscar email" value="{{ search }}" />
                <select name="activity">
                    <option value="">Filtrar por:</option>
                    <option value="noactive"{% if activity == 'noactive' %}selected{% endif %}>No activo</option>
                    <option value="active" {% if activity == 'active' %}selected{% endif %}>Activo </option>
                </select>
                <select name="role">
                    <option value="">Filtrar por:</option>
                    <option value="1" {% if role == 1 %}selected{% endif %}>Administracion </option>
                    <option value="2" {% if role == 2 %}selected{% endif %}>Tecnica </option>
                    <option value="3" {% if role == 3 %}selected{% endif %}>Ecuestre </option>
                    <option value="4" {% if role == 4 %}selected{% endif %}>Voluntariado </option>
                    <option value="5" {% if role == 5 %}selected{% endif %}>Sin Rol </option>
                </select>
                <select name="order_option">
                    <option value="">Ordenar por:</option>
                    <option value="email_asc" {% if order_option == 'email_asc' %}selected{% endif %}>Email: Orden ascendente</option>
                    <option value="email_desc"  {% if order_option == 'email_desc' %}selected{% endif %}>Email: Orden descendente</option>
                    <option value="creation_date_asc" {% if order_option == 'creation_date_asc' %}selected{% endif %}>Fecha creación: Orden ascendente</option>
                    <option value="creation_date_desc" {% if order_option == 'creation_date_desc' %}selected{% endif %}>Fecha creación: Orden descendente</option>
                </select>
                <button class="button search-button" type="submit">Buscar</button>
                <a class="button restore-button" href="{{ url_for('users.index', page=page, order_option=order_option) }}">Quitar Filtros</a>
            </form>
        </div>
    <div class="table-container">
        <table class="table ">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Alias</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th>Estado Bloqueo</th>
                    <th>Fecha de creación</th>
                    <th>Acción</th>
                </tr>
            </thead>
            {% if context.users %}
            {% for user in context.users %}
            <tbody>
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.alias }}</td>
                    <td>{{ user.role.name }}</td>
                    <td>{{'Activo' if user.active else 'No activo'}}</td>
                    <td>{{'Bloqueado' if user.is_blocked else 'No bloqueado' }}</td>
                    <td>{{ user.created_at.strftime('%d-%m-%Y') }}</td>
                    <td>
                        <a href="{{ url_for('users.show_user', id=user.id) }}" class="button is-small is-white"><i class="fas fa-eye" title="Ver"></i></a>
                        <a href="{{ url_for('users.update_user', id=user.id) }}" class="button is-small is-white"><i class="fas fa-edit" title="Editar"></i></a>

                        <button type="submit" class="button is-dark {% if user.is_blocked %}is-success{% else %}is-danger{% endif %}">
                            {% if user.is_blocked %}
                                Desbloquear
                            {% else %}
                                Bloquear
                            {% endif %}
                        </button>
                        <a class="button is-small is-white delete-button"><i class="fas fa-trash" title="Eliminar"></i></a> 
                    </td>
                </tr>
            </tbody>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No hay usuarios</td>
                </tr>
            {% endif %}
        </table>
        <nav class="pagination" role="navigation" aria-label="pagination">
            <a class="pagination-previous" {% if not context.users.has_prev %}disabled{% else %}href="{{url_for('users.index', page=page-1,  order_option=order_by, search=search, role=role, activity=activity)}}"{% endif %}>Previous</a>
            <a class="pagination-next" {% if not context.users.has_next %}disabled{% else %}href="{{url_for('users.index', page=page+1,  order_option=order_by, search=search, role=role, activity=activity)}}"{% endif %}>Next page</a>
        </nav>
    </div>
</div>
</div>


{% endblock %}