{% extends "layout.html" %}

{% block title %}Información y documentos del empleado{% endblock %}
{% block head %}
    {{ super() }}
    <link
          rel="stylesheet"
          href="{{ url_for('static', filename='styles/horsemen_and_amazons/jya_info.css') }}"/>
    <link
          rel="stylesheet"
          href="{{ url_for('static', filename='styles/horsemen_and_amazons/jya_list.css') }}"/>
{% endblock %}
{% block content %}

    <div class="encabezado">
        <button id="info">Información General</button>
        <button id="docs">Documentos</button>
    </div>
    <hr class="separador">
    <div id="contenedor"></div>

            <!-- Modal de confirmación -->
            <div id="deleteModal" class="modal">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="box">
                        <p>¿Estás seguro que quieres eliminar este empleado?</p>
                        <button id="confirmDelete" class="button is-danger">Eliminar</button>
                        <button id="cancelDelete" class="button">Cancelar</button>
                    </div>
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
            </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const user = {{ context.user | tojson | safe }};
            const files = {{ context.files | tojson | safe }};
            const buttonInfo = document.getElementById('info');
            const buttonDocs = document.getElementById('docs');
            const contenedor = document.getElementById('contenedor');

            const modal = document.getElementById('deleteModal');
            const confirmButton = document.getElementById('confirmDelete');
            const cancelButton = document.getElementById('cancelDelete');
            let fileIdToDelete = null;

            // Función para cargar la información del usuario
            function cargarInformacion() {
                buttonInfo.classList.add('clicked');
                buttonDocs.classList.remove('clicked');
                contenedor.classList.remove('docs');

                let table_users = `<table class="table is-striped">
                                    <thead>
                                        <tr>
                                            <th>Campo</th>
                                            <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td>DNI</td><td>${user.DNI}</td></tr>
                                        <tr><td>Apellido</td><td>${user.last_name}</td></tr>
                                        <tr><td>Nombre</td><td>${user.name}</td></tr>
                                        <tr><td>Email</td><td>${user.email}</td></tr>
                                        <tr><td>Fecha nacimiento</td><td>${user.birth_date}</td></tr>
                                        <tr><td>Número de Teléfono</td><td>${user.phone_number}</td></tr>
                                        <tr><td>Dirección</td><td>${user.address}</td></tr>
                                        <tr><td>Profesion</td><td>${user.profession}</td></tr>
                                        <tr><td>Puesto laboral</td><td>${user.job_position}</td></tr>
                                        <tr><td>Fecha de inicio</td><td>${user.start_date}</td></tr>
                                        <tr><td>Fecha de cese</td><td>${user.end_date}</td></tr>
                                        <tr><td>Contacto de emergencia</td><td>${user.emergency_contact}</td></tr>
                                        <tr><td>Condicion</td><td>${user.condition}</td></tr>
                                        <tr><td>Actividad</td><td>${user.active}</td></tr>
                                        <tr><td>Obra social</td><td>${user.healthcare_plan}</td></tr>
                                    </tbody>
                                </table>`;

                contenedor.innerHTML = table_users;
            }

            // Función para cargar los documentos
            function cargarDocumentos() {
                buttonDocs.classList.add('clicked');
                buttonInfo.classList.remove('clicked');
                contenedor.classList.add('docs');

                let boton = ` <a href="{{ url_for('team.add_file', id=context.id) }}"><button class="boton add-file">Añadir archivo</button></a>`;
                contenedor.innerHTML += boton;

                if (files.length > 0) {
                    let table_docs = `
                        <table class="table is-striped">
                            <thead>
                                <tr>
                                    <th>Titulo</th>
                                    <th>Tipo</th>
                                    <th>Fecha de subida</th>
                                    <th>Operaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                    `;
                    files.forEach(file => {
                        table_docs += `
                            <tr>
                                <td>${file.title}</td>
                                <td>${file.document_type}</td>
                                <td>${file.upload_date}</td>
                                <td>
                                    <select class="operations" data-file-id="${file.id}">
                                        <option value="default">Selecciona la operación</option>
                                        <option value="edit">Editar</option>
                                        <option value="delete">Eliminar</option>
                                        <option value="download">Descargar</option>
                                    </select>
                                </td>
                            </tr>
                        `;
                    });

                    contenedor.innerHTML += table_docs;
        
                }
                else{
                    contenedor.innerHTML += `<p style="text-align: center">No hay archivos asociados al jinete</p>`;
                }
            }

            // Recuperar el estado del Local Storage
            const selectedTab = localStorage.getItem('selectedTab');

            if (selectedTab === 'docs') {
                cargarDocumentos(); // Cargar la pestaña de documentos
            } else {
                cargarInformacion(); // Cargar la pestaña de información por defecto
            }

            // Evento del botón de Información General
            buttonInfo.addEventListener('click', () => {
                contenedor.innerHTML = '';
                cargarInformacion();
                localStorage.setItem('selectedTab', 'info'); // Guardar el estado
            });

            // Evento del botón de Documentos
            buttonDocs.addEventListener('click', () => {
                contenedor.innerHTML = '';
                cargarDocumentos();
                localStorage.setItem('selectedTab', 'docs'); // Guardar el estado
            });

            // Manejo de cambios en las operaciones
            document.addEventListener('change', (e) => {
                if (e.target.classList.contains('operations')) {
                    const selectedValue = e.target.value;
                    
                    const fileType = e.target.dataset.fileType;
                    const fileId = e.target.dataset.fileId;

                    console.log(fileId);
                    
                    if (selectedValue === 'delete'){
                        const deleteUrl = "{{ url_for('team.delete_file', id=context.id, file_id=0) }}".replace('/0', `/${fileId}`);
                        window.location.href = deleteUrl;
                    }

                    // Si la opción seleccionada es "Ir al documento"
                    if (selectedValue === 'open' && fileType === 'Link') {
                        const selectedFile = files.find(file => file.id === parseInt(fileId));
                        window.open(selectedFile.file_url, '_blank'); // Abre el enlace en una nueva pestaña
                    }

                    if (selectedValue === 'download' && fileType !== 'Link') {
                        const downloadUrl = "{{ url_for('team.download_file', user_id=context.id, file_id=0) }}".replace('/0', `/${fileId}`);
                        window.location.href = downloadUrl;
                    }

                    if (selectedValue === 'edit'){
                        const editUrl = "{{ url_for('team.edit_file', user_id=context.id, file_id=0) }}".replace('/0', `/${fileId}`);
                        window.location.href = editUrl;
                    }
                }
            });
        });
    </script>
{% endblock %}
